.formContainer {
  display: flex;
}

.section {
  padding: 25px 0 0 15px;
}

.form {
  flex: 1;
  overflow: hidden;
  padding: 15px 0;
}

.textarea {
  border: none;
  font-size: 21px;
  min-height: 150px;
  outline: 0;
  padding: 15px;
  resize: none;
  width: 100%;
}
