.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: inherit;
}

.header {
  align-items: center;
  border-bottom: 1px solid var(--color-border);
  display: flex;
  height: 49px;
}

.h2 {
  margin-left: 15px;
}

.section {
  flex: 1;
  overflow: hidden scroll;
}

.section::-webkit-scrollbar {
  width: 3px;
}

.section::-webkit-scrollbar-thumb {
  background-color: #ccc;
}

.nav {
  border-top: 1px solid var(--color-border);
  height: 49px;
  width: 100%;
}
