.article {
  align-items: flex-start;
  border-bottom: 1px solid var(--color-border);
  display: flex;
  gap: 10px;
  padding: 10px 15px;
  font-size: 15px;
}

.header {
  display: flex;
  gap: 4px;
}

.section {
  width: 100%;
}

.name {
  font-weight: 700;
}

.userName {
  color: var(--font-tertiary);
}

.content {
  line-height: 20px;
}

.time {
  color: var(--font-secondary);
  margin-left: auto;
}
